.main {
    width: 100%;
    height: auto;
}

.containerTwo {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerTwo h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: rgb(0, 123, 255);
}

@media(max-width: 920px) {
    .containerTwo h1 {
        font-size: 20px;
    }
}

@media(max-width: 400px) {
    .containerTwo h1 {
        font-size: 16px;
    }
}
